<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="allassets.css">
    <title>All Assets</title>
    <ul>
        <li><a href="/allassets" class="active">All Assets</a></li>
        <li><a href="/bykind">Additional Information Per Asset Kind</a></li>
        <li><a><form name='f' action="#" th:action="@{/allassets}" th:object="${workspaceObject}" method='GET'>
            <table>
                <tr>
                    <td>Workspace ID:</td>
                    <td>
                        <select th:field="*{workspaceID}" onchange="this.form.submit();">
                            <option th:utext="${chosenWorkspaceID}" th:value="${chosenWorkspaceID}"></option>
                            <option th:each="workspaceID : ${workspaceIdList}"
                                    th:if="${workspaceID} != ${chosenWorkspaceID}"
                                    th:value="${workspaceID}"
                                    th:utext="${workspaceID}"/>
                        </select>

                    </td>
                </tr>
            </table>
        </form>
        </a></li>
    </ul>
</head>
<body>


<form name='f' action="#" th:action="@{/allassets}" th:object="${filterObject}" method='GET'>
    <table class="filters">
        <tr>

            <td>Status:</td>
            <td>
                <select th:field="*{status}">
                    <option th:value="all"> -- </option>
                    <option th:each="status : ${statusList}"
                            th:value="${status}"
                            th:utext="${status}"/>
                </select>

            </td>
            <td>Location:</td>
            <td>
                <select th:field="*{location}">
                    <option th:value="all"> -- </option>
                    <option th:each="location : ${locationList}"
                            th:value="${location}"
                            th:utext="${location}"/>
                </select>

            </td>
            <td>Kind:</td>
            <td>
                <select th:field="*{kind}">
                    <option th:value="all"> -- </option>
                    <option th:each="kind : ${kindList}"
                            th:value="${kind}"
                            th:utext="${kind}"/>
                </select>
            </td>
            <td><input name="submit" type="submit" value="Apply" /></td>
        </tr>
    </table>
</form>


<div class="container">
    <div th:if="${not #lists.isEmpty(allAssets)}">
        <table class="results">
            <th:block th:each="name : ${displayNames}">
                <th th:text="${name}"></th>
            </th:block>
            <th:block th:each="asset : ${allAssets}">
                <tr>
                    <th:block th:each="col : ${asset}">
                        <td th:text="${col}"></td>
                    </th:block>
                </tr>
            </th:block>
        </table>
    </div>
</div>



</body>
</html>
