<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="allassets.css">
    <title>Kind</title>
    <ul>
        <li><a href="/allassets">All Assets</a></li>
        <li><a href="/bykind" class="active">Additional Information Per Asset Kind</a></li>
        <li><a href="/newworkspace">Add a new Workspace</a></li>
        <li><a><form name='f' action="#" th:action="@{/bykind}" th:object="${workspaceObject}" method='GET'>
            <table>
                <tr>
                    <td>Workspace ID:</td>
                    <td>
                        <select th:field="*{workspaceID}" onchange="this.form.submit();">
                            <option th:utext="${chosenWorkspaceID}" th:value="${chosenWorkspaceID}"></option>
                            <option th:each="workspace : ${workspaceIdList}"
                                    th:if="${workspace.workspaceID} != ${chosenWorkspaceID}"
                                    th:value="${workspace.workspaceID}"
                                    th:utext="${workspace.workspaceDisplayName}"/>
                        </select>

                    </td>
                </tr>
            </table>
        </form>
        </a></li>
    </ul>
</head>
<body>

<form name='f' action="#" th:action="@{/bykind}" th:object="${kindObject}" method='GET'>
    <table class="filters">
        <tr>
            <td>Asset Kind:</td>
            <td>
                <select th:field="*{kind}">
                    <option value=""> -- </option>
                    <option th:each="kind : ${kindList}"
                            th:value="${kind}"
                            th:utext="${kind}"/>
                </select>
            </td>
            <td><input name="submit" type="submit" value="Apply" /></td>
        </tr>
    </table>
</form>

<div class="container">
    <div th:if="${not #lists.isEmpty(allAssets)}">
        <table class="results">
            <th:block th:each="name : ${displayNames}">
                <th th:text="${name}"></th>
            </th:block>
            <th:block th:each="asset : ${allAssets}">
                <tr>
                    <th:block th:each="col : ${asset}">
                        <td th:text="${col}"></td>
                    </th:block>
                </tr>
            </th:block>
        </table>
    </div>
</div>

</body>
</html>