<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="allassets.css">
    <title>Type</title>
    <ul>
        <li><a href="/allassets">All Assets</a></li>
        <li><a href="/bykind">By type</a></li>
        <li><a href="/bylocation">By Location</a></li>
        <li><a href="/bystatus">By Status</a></li>
    </ul>
    <h1>By Type</h1>
</head>
<body>

<!--<div class="container">
    <div th:if="${not #lists.isEmpty(allAssets)}">
        <h2>Asset List</h2>
        <table class="table table-bordered table-striped">
            <tr>
                <th>Asset Name</th>
                <th>Asset Kind</th>
                <th>Location</th>
                <th>Creation Time</th>
                <th>Status</th>
            </tr>
            <tr th:each="asset : ${allAssets}">
                <td th:text="${asset.name}"></td>
                <td th:text="${asset.kind}"></td>
                <td th:text="${asset.zone}"></td>
                <td th:text="${asset.creationTime}"></td>
                <td th:text="${asset.status}"></td>
            </tr>
        </table>
    </div>
</div>
-->


</body>
</html>